header{
    background-color: rgb(52, 52, 178);
}
.sign{
    text-align: right;
}
body{
    background-color: rgb(132, 132, 226);
    font-style: italic;
    border: 7px solid rgb(114, 80, 206);
}
h1{
    color: rgb(71, 31, 71);  
}
p{
    color: rgb(7, 49, 2);
    font-size: 18px;
    font-weight: bold;
}
hr{
    background-color: rgb(0, 255, 17);
}
.info{
    text-align: center;
    color: rgb(64, 62, 62);
}
.signup{
    color: rgb(4, 53, 4);
    text-align: center;
    border: solid black;
    margin: 70px;
    font-size: larger;
    font-weight: bold;
}
.user{
    float: right;
}
button{
    font-weight: bold;
}
button:hover{background-color: rgb(244, 59, 59);}
.words{
    font-size: larger;
    font-weight: bold;
    color: rgb(45, 12, 143);
    padding-left: 30px;
}